*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    font-weight: bold;
   
}


h1 {
    text-align: center;
}

form {
    text-align: center;
}

main{
     background-color: aqua;
     padding: 100px;
     max-width: 700px;
     margin: 0 auto;
     

}
.todo-item {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

.todo {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.todo-button{
    width: 100px;
    height: 30px;

}

.todo-input {
    width: 200px;
    height: 30px;
}

.trash-btn {
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: red;
}